{% extends "floor16/views/templates/static.html" %}
{% block static %}
<h1> Пользовательское соглашение</h1>

<h2>1. Основные понятия</h2>
<strong>Сайт</strong> – сайт, расположенный в сети Интернет по адресу https://floor16.ru/.
<br>
<strong>Администрация Сайта</strong> – Департамент исследований в области искусственного интеллекта Некоммерческого Партнерства «Трехмерное моделирование», г. Москва.
<br>
<strong>Пользователь</strong> – пользователь Сайта, как зарегистрированный так и не зарегистрированный на Сайте, за исключением представителей Администрации Сайта и правообладателей Сайта.
<br>
<h2>2. Статус Правил</h2>
<strong>2.1.</strong> Настоящие Правила представляют собой соглашение между Пользователем и Администрацией Сайта (далее вместе именуемые «Стороны») и регулируют права и обязанности Пользователя и Администрации Сайта, возникающие в процессе пользования Сайтом.
<br>
<strong>2.2.</strong> Действующая редакция Правил, являющихся публичным документом, разработана Администрацией Сайта и доступна любому пользователю сети Интернет по адресу https://floor16.ru/agreement/.
<br>
Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по постоянному адресу https://floor16.ru/agreement/ не позднее, чем за 5 дней до вступления в силу соответствующих изменений. Предыдущие редакции Правил хранятся в архиве документации Администрации Сайта.
<br>
<strong>2.3.</strong> Положения настоящих Правил рассматриваются как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации. Пользователь обязан полностью ознакомиться с настоящими Правилами до первого использования Сайта. Использование Сайта Пользователем означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации. Положения настоящих Правил могут быть приняты только в целом без каких-либо изъятий.
<br>
<strong>2.4.</strong> Пользователь обязан время от времени проверять текущую версию настоящих Правил по постоянному адресу https://floor16.ru/agreement/ на предмет внесения изменений и/или дополнений. Продолжение использования Сайта Пользователем после вступления в силу соответствующих изменений настоящих Правил означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.
<br>

<h2>3. Права и обязанности Сторон</h2>
<strong>3.1.</strong> Пользователь обязуется использовать Сайт в личных некоммерческих целях. Запрещается распространять информацию, полученную в результате использования Сайта в сети Интернет, за исключением публикации ссылок на отдельные разделы Сайта. Запрещается совершать действия, направленные на нарушение нормального функционирования Сайта, и использовать специальные программы, содержащие вредоносные компоненты («вирусы»).
<br>
<strong>3.2.</strong> Администрация Сайта вправе в любое время вносить изменения в функционал Сайта, интерфейс и/или содержание Сайта с уведомлением Пользователей или без такового.
<br>
<strong>3.4.</strong> Администрация Сайта вправе в одностороннем порядке ставить условия использования отдельных сервисов, предлагаемых Сайтом, выраженные в поддержании рейтинга общественной полезности Пользователя на определенном уровне. Условия использования и алгоритмы определения рейтинга общественной полезности Пользователя доступны в пункте 6 «Условия использования» настоящих Правил.
<br>
<strong>3.5.</strong> Администрация Сайта вправе запросить и использовать информацию о Пользователе исключительно в целях предоставления услуг по использованию Сайта.
<br>
<strong>3.6.</strong> Администрация Сайта обязана обеспечить техническую поддержку Сайта и предоставить простой способ связи для обращений Пользователей по всем возникающим в процессе использования Сайта вопросам.
<br>

<h2>4. Интеллектуальная собственность</h2>
<strong>4.1.</strong> Пользователь признает, что Сайт, его интерфейс и содержание (включая, но не ограничиваясь, элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки, связанные с Сайтом) защищены авторским правом, товарными знаками, патентами и иными правами, которые принадлежат Администрации Сайта или иным законным правообладателям.
<br>
<strong>4.2.</strong> Администрация Сайта предоставляет Пользователю неисключительную лицензию на использование Сайта, а именно на поиск и просмотр объявлений об аренде жилой недвижимости, получение контактных данных арендодателя исключительно в целях удовлетворения личных, семейных, домашних или иных не связанных с предпринимательской деятельностью нужд, без права передачи данной лицензии третьим лицам и без права предоставления сублицензий на использование Сайта третьим лицам.
<br>
<strong>4.3.</strong> Пользователь не вправе воспроизводить, копировать, изменять, уничтожать, перерабатывать (включая выполнение любого перевода или локализации), продавать, сдавать в прокат, опубликовывать, скачивать, иным образом распространять Сайт либо его компоненты, декомпилировать или иным образом пытаться извлечь исходный код компонентов Сайта, являющихся программным обеспечением, а также изменять функционал Сайта без предварительного письменного согласия Администрации Сайта.
<br>
<strong>4.4.</strong> Пользователь не вправе удалять и/или изменять какую-либо информацию, размещенную Администрацией Сайта в рамках Сайта, в том числе знаки охраны авторского права и средств индивидуализации.
<br>
<strong>4.5.</strong> Лицензия, указанная в пункте 4.2 настоящих Правил, предоставляется на весь срок использования Сайта Пользователем. Данная лицензия распространяется также на все обновления и/или дополнительные компоненты Сайта, которые могут быть созданы и предоставлены Администрацией Сайта в будущем.
<br>
<strong>4.6.</strong> Если иное явным образом не установлено в настоящих Правилах, ничто в настоящих Правилах не может быть рассмотрено как передача исключительных прав на Сайт и/или его компоненты Пользователю.
<br>

<h2>5. Гарантии и Ответственность</h2>
<strong>5.1.</strong> Пользователь признает и соглашается с тем, что Сайт предоставляется на условиях «как есть». Администрация Сайта не предоставляет гарантий в отношении последствий использования Сайта, взаимодействия Сайта с другим программным обеспечением.
<br>
<strong>5.2.</strong> Администрация Сайта не предоставляет гарантий того, что Сайт может подходить для конкретных целей использования. Пользователь признает и соглашается с тем, что результат использования Сайта может не соответствовать ожиданиям Пользователя.
<br>
<strong>5.3.</strong> Администрация Сайта или иные правообладатели ни при каких обстоятельствах не несут ответственность за любой косвенный, случайный, неумышленный ущерб (включая упущенную выгоду, ущерб, причиненный утратой данных), вызванный в связи с использованием Сайта или невозможностью его использования, в том числе в случае отказа работы Сайта или иного перерыва в использовании Сайта, даже если Администрация Сайта предупреждала или указывала на возможность такого ущерба.
<br>
<strong>5.4.</strong> Пользователь самостоятельно несет ответственность за свои действия по использованию Сайта, в том числе за действия по размещению и передаче информации, объявлений, комментариев, изображений и иных материалов другим Пользователям с помощью Сайта. Пользователь самостоятельно несет ответственность за соблюдение прав третьих лиц, применимого законодательства, настоящих Правил, каких-либо правил и/или обязательных инструкций Администрации Сайта, размещенных на Сайте.
<br>
<strong>5.5.</strong> За нарушения, допущенные Пользователем, Администрация Сайта вправе отказать Пользователю в дальнейшем предоставлении услуг или ограничить такое предоставление полностью или частично с уведомлением Пользователя или без такового.
<br>
<strong>5.6.</strong> Администрация Сайта ни при каких условиях не несет ответственности за содержание объявлений включая текстовое описание и/или изображения, поскольку не является их автором, а получает их в результате обработки данных размещенных в сети Интернет и доступных публично.
<br>

<h2>6. Условия использования</h2>
<strong>6.1.</strong> Администрация Сайта не накладывает дополнительных условий на использование каких-либо сервисов предлагаемых Сайтом.
<br>

<h2>7. Заключительные положения</h2>
<strong>7.1.</strong> Пользователь вправе в любой момент отказаться от предоставления услуг посредством прекращения использования Сайта.
<br>
<strong>7.2.</strong> Администрация Сайта вправе в любой момент приостанавливать или прекращать функционирование Сайта с уведомлением Пользователей или без такового.
<br>
<strong>7.3.</strong> Настоящие Правила регулируются и толкуются в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Правилами, подлежат разрешению в соответствии с законодательством Российской Федерации.
<br>
<strong>7.4.</strong> В случае возникновения любых споров или разногласий, связанных с исполнением настоящих Правил, Администрация Сайта и Пользователь приложат все усилия для их разрешения путем проведения переговоров между ними. В случае если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим законодательством Российской Федерации.
<br>
<strong>7.5.</strong> Настоящие Правила составлены на русском языке и могут быть предоставлены Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Правил и версии Правил на ином языке, применяются положения русскоязычной версии настоящих Правил.
<br>
<strong>7.6.</strong> Если по тем или иным причинам одно или несколько положений настоящих Правил будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений.
{% endblock %}
