{% extends "floor16/views/templates/static.html" %}
{% block static %}
<h1> Инструкция по эксплуатации</h1>

Поисковый Робот ЭТАЖ-16 предоставляет возможность гибкого поиска объявлений по аренде квартир, комнат и другой жилой недвижимости <strong>напрямую от собственников</strong>, минуя агентов и прочих посредников. Правильно воспользовавшись этой возможностью, пользователи Робота могут сэкономить:
<br>
<ul>
    <li>на агентской комиссии (<strong>от 50 до 100%</strong> от месячной арендной платы);</li>
    <li>на арендной плате (<strong>до 20%</strong>, которыми агенты мотивируют собственников к сотрудничеству).</li>
</ul>
<table>
    <thead>
        <tr>
            <td>Арендная плата, р/мес</td>
            <td>Экономия при заключении сделки, р.</td>
            <td>Экономия в течение года, р.</td>
            <td>Общая экономия, р.</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12&nbsp;000</td>
            <td>12&nbsp;000</td>
            <td>28&nbsp;800</td>
            <td>40&nbsp;800</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>25&nbsp;000</td>
            <td>25&nbsp;000</td>
            <td>60&nbsp;000</td>
            <td>85&nbsp;000</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>50&nbsp;000</td>
            <td>50&nbsp;000</td>
            <td>120&nbsp;000</td>
            <td>170&nbsp;000</td>
        </tr>
    </tbody>
</table>

<h2>1. Как пользоваться поиском</h2>
<strong>1.1.</strong> При поиске нужного варианта изначально следует задавать нежесткие условия фильтра (район\метро, тип объекта, максимальную цену). Если, список найденных объектов слишком велик, можно ужесточить условия, но делать это нужно аккуратно, принимая во внимание следующее: далеко не всегда в объявлении указаны все параметры объекта (в квартире может быть мебель, а в объявлении может быть об этом не сказано); Робот верно распознает 80-90% признаков из текстов объявлений, соответственно 10-20% приходится на случаи пропуска и ложного распознавания.
<br>
<strong>1.2.</strong> Не растраиваться и не паниковать если одно из наиболее свежих объявлений окажется агентским. Робот ориентирован на оперативное предоставление информации и фильтрует объявления в несколько этапов, в результате около 10% объявлений опубликованных за последний час могут оказаться агентскими. Некоторое время спустя (как правило, следующий час) Робот уточнит вердикт и бъявления будут сняты с публикации.
<br>
<h2>2. Как снять жилье без посредников</h2>
<strong>2.1.</strong> Как только на сайте обнаружено интересующее объявление – незамедлительно звонить и назначать просмотр квартиры на этот же день, максимум – на следующий день от публикации объявления. Агенты – довольно предприимчивые люди. Робот дает преимущество перед ними посредством оперативной индексации, классификации (отсева агентских объявлений) и публикации объявлений. Если пользователь не воспользуется этим преимуществом, то на контакт с собственником обязательно выйдет агент, предложит более выгодную цену, чем та, что устраивает собственника, и замкнет все контакты на себя. Кроме агентов есть и другие пользователи, которые также соревнуются между собой – побеждает самый инициативный и расторопный.
<br>
<strong>2.2.</strong> При звонке собственнику обязательно уточнить собственник ли он на самом деле (имеется ли свидетельство о регистрации права собственности) и нет ли дополнительной комиссии. Робот хорошо отсеивает агентов, но может пропустить каких-нибудь залетных или вообще мошенников. Кроме того, время от времени попадаются собственники желающие получить комиссию. Видимо бывшие агенты либо просто чрезвычайно жадные люди. Иметь ли с ними дело – решать пользователю.
<br>
<strong>2.3.</strong> При назначении встречи для просмотра объекта попросить арендодателя взять паспорт и свидетельство о праве собственности на объект. Если арендодатель не является собственником, но доверенным лицом собственника – попросить взять доверенность, если таковая имеется.
<br>
<strong>2.4.</strong> При просмотре квартиры, если помимо пользователя приглашены другие арендаторы, это означает, что сейчас состоится аукцион. Аукцион считается дурным тоном и с довольно высокой вероятностью означает риск непорядочности собственника. В случае аукциона пользователю следует решить для себя, устраивает ли его подобная рискованная сделка и готов ли он участвовать в аукционе. Лучше всего принять решение о готовности к участию в подобных мероприятиях заранее. Если не готов – стоит сразу уходить, не тратить  свое время понапрасну, а заняться другими предложениями. Как правило, даже по очень жестким запросам Робот может предложить несколько вариантов.
<br>
<strong>2.5.</strong> При просмотре квартиры спокойно и внимательно осмотреть все помещения, конструкции и коммуникации (течет ли вода в кране, работает ли душ, открываются ли окна и т.п.) Если в целом предложение устраивает, но какие-то мелочи не работают – обговорить с собственником устранение за счет снижения цены аренды, в счет аренды, за счет собственника и т.д.
<br>
<strong>2.6.</strong> Во время заключения сделки проверить свидетельство о праве собственности на предмет соответствия паспортных данных. Если свидетельство выдано на имя родственника, то должна быть доверенность, если нет доверенности, то должна хотя бы совпадать фамилия. Если и фамилия не совпадает, это означает высокий риск мошенничества, высокую вероятность того, что через месяц появится реальный собственник и попросит покинуть помещение. Решение об участии в подобных сделках пользователь принимает на свой страх и риск. Лучше подобное решение принять заранее.
<br>
<strong>2.7.</strong> Во время заключения сделки, если собственник требует страховой депозит (залог\оплату за последний месяц и т.п.), то необходимо детально обговорить условия возврата залога. Если условия включают в себя сохранность интерьера, мебели, техники и т.п., то следует зафиксировать перечень предметов и их текущее состояние, например с помощью фото или видеокамеры мобильного телефона.
<br>
<strong>2.8.</strong> Во время заключения сделки обязательно составить договор, в котором отразить паспортные данные арендодателя и свои, срок действия договора, факт получения залога и условия его возвращения, факт получения оплаты за первый месяц. Договор должен быть обязательно подписан арендодателем и остаться на руках арендатора.
<br>
<strong>2.9.</strong> До установления доверительных отношений с арендодателем, а лучше всего вне зависимости от отношений с ним, арендную плату следует вручать либо под расписку, либо под подпись на специальном приложении к договору – графике выплат арендной платы.
{% endblock %}
