{% extends "floor16/views/templates/static.html" %}
{% block static %}
<h1>Механизм работы</h1>

<p> По понятным причинам, данный документ не описывает всех алгоритмов и тонкостей, но дает общее понимание для интересующегося пользователя. Детально о механизме робота можно узнать в личном общении с его создателями. Войти в контакт с создателями можно отправив электронное письмо по адресу <a href="mailto:creators@floor16.ru" title="Написать письмо">creators@floor16.ru</a>
</p>

<h2>1. Как работает поиск</h2>
<strong>2.1.</strong> Робот регулярно опрашивает основные открытые площадки объявлений и социальные сети на предмет новых объявлений о сдаче в аренду жилой недвижимости.
<br>
<strong>2.2.</strong> Как только обнаружено новое объявление, Робот добавляет его в индекс.
<br>
<strong>2.3.</strong> Добавленные в индекс объявления в течение 1-5 минут проходят обработку, которая состоит из следующих этапов:
<ul>
    <li>извлечение данных из текста объявления;</li>
    <li>бинарная классификация объявления по признаку агент\собственник;</li>
    <li>если объявление не опознано в качестве агентского – публикация объявления на сайте.</li>
</ul>
<strong>2.4.</strong> После публикации объявления некоторое время повторно классифицируются, и могут быть сняты с публикации, если Робот выносит по ним иной вердикт.
<br>
<strong>2.5.</strong> На данный момент Робот не отслеживает снятие объявления с публикации на стороне источника, так как это не дает значительного преимущества пользователям. Намного более важна оперативность получения новой информации, чем своевременное удаление старой. Тем не менее, Робот периодически удаляет из индекса объявления потерявшие актуальность. Период зависит от региона и составляет от 3-х до 5-ти недель с момента обнаружения объявления.
{% endblock %}
