{% extends "floor16/views/templates/static.html" %}
{% block static %}
<h1>Механизм работы</h1>

<p> По понятным причинам, данный документ не описывает всех алгоритмов и тонкостей, но дает общее понимание для интересующегося пользователя. Детально о механизме робота можно узнать в личном общении с его создателями. Войти в контакт с создателями можно отправив электронное письмо по адресу <a href="mailto:creators@floor16.ru" title="Написать письмо">creators@floor16.ru</a>
</p>

<h2>1. Как работает поиск</h2>
<strong>1.1.</strong> Робот регулярно опрашивает основные открытые площадки объявлений и социальные сети на предмет новых объявлений о сдаче в аренду жилой недвижимости.
<br>
<strong>1.2.</strong> Как только обнаружено новое объявление, Робот добавляет его в индекс.
<br>
<strong>1.3.</strong> Добавленные в индекс объявления в течение 1-5 минут проходят обработку, которая состоит из следующих этапов:
<ul>
    <li>извлечение данных из текста объявления;</li>
    <li>бинарная классификация объявления по признаку агент\собственник;</li>
    <li>если объявление не опознано в качестве агентского – публикация объявления на сайте.</li>
</ul>
<strong>1.4.</strong> После публикации объявления некоторое время повторно классифицируются, и могут быть сняты с публикации, если Робот выносит по ним иной вердикт.
<br>
<strong>1.5.</strong> Несколько раз в сутки Робот отслеживает снятие объявлений с публикации на стороне источников, что позволяет в результатах поиска выдавать только актуальные на текущий момент объявления. Снятые с публикации объявления по-прежнему остаются доступны пользователям по прямым ссылкам. На страницах таких объявлений выводится соответствующее сообщение.
<br>
<strong>1.6.</strong> Все решения Робота о публикации и снятии с публикации объявлений синхронизируются с содержимым пабликов ВКонтакте в течение 10-20 минут. Это означает, что информация опубликованная Роботом в ВК также актуализирована.  На данный момент в пабликах выкладываются только объявления с фотографиями. По общему решению пользователей Робот может быть перенастроен. Пользователи могут выражать свои мысли по этому поводу в соответствующих обсуждениях ВК.
<br>

<h2>2. Список сообществ ВКонтакте</h2>
<strong>1.0.</strong> <a href="https://vk.com/flor16" title="Группа по развитию Робота">Группа для обсуждения предложений, идей, замечаний, общения с разработчиками и т.д.</a>
<br>
<strong>1.1.</strong> <a href="https://vk.com/floor16smr" title="Самарский паблик ВК">Самарские объявления</a>
<br>

{% endblock %}
